.main-page {
    /* width: calc(100% - 277px); */
    /* border: 1px solid red; */
    /* position: absolute; */
    margin-left: 260px;
}

.right-section {
    display: flex;
    flex-direction: row;
    width: 99%;
    /* border: 1px solid purple; */
    padding-top: 20px;

}

.right-left-section {
    display: flex;
    flex-direction: column;
    width: 75%;
    position: relative;
    top: 5px;
    /* border: 1px solid green; */
    z-index: 4567890;
}

.stories-charts {
    display: flex;
    flex-direction: column;
}

.statistic-tables-container {
    display: flex;
    flex-direction: row;
    width: 97%;
    /* border: 1px solid red; */
    justify-content: space-between;
    margin-left: 12px;
    margin-top: 12px;
}