.chart-container {
    width: 90%;
    margin-left: 20px;
    background-color: white;
    padding: 0 20px 20px;
    border-radius: 5px;
    margin-top: 12px;
}

.chart-title {
    color: #777D8B;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
}
#chart-value {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #191C1F;;
}

#chart-month {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color:  #777D8B;
}