.chart-container {
    width: calc(776px - 32px);
    /* margin-left: auto; */
    /* margin-right: auto; */
    background-color: white;
    padding: 16px;
    border-radius: 5px;
    margin-top: 95px;
    margin-bottom: 16px;
    /* height: 297px; */
    /* border: 1px solid purple; */
}

.chart-title {
    color: #777D8B;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    padding: 0;
}
#chart-value {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #191C1F;;
    margin-bottom: 21px;
}

#chart-month {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color:  #777D8B;
    margin-bottom: 21px;
}