.header {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding-right: 37.45px;
    width: calc(100% - 38px - 260px);
    height: 80px;
    margin-left: 260px;
    align-content: center;
    /* border: 1px solid red; */
}

.header-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 80%; */
    align-items: baseline;
    /* padding: 15px 0; */
}

.header .header-icons h6 {
    padding: 28px 24px;
    margin-top: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #191C1F;
}
.icons {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-self: center;
    align-content: center;
    /* width: 25%; */
    /* padding-top: 4vh; */
    margin-top: 0;
    /* border: 1px solid red; */

}

.icon {
    width: 26px;
    height: auto;
    object-fit: cover;
    padding: 10px 12px;
    border-radius: 50%;
    background-color: #F5F6F8;
    opacity: 0.7;
    margin: 0 16px 0 0;
    cursor: pointer;
}

.mail-icon {
    position: relative;
    /* border: 1px solid black; */
    
}

.mail-messages {
    display: block;
    padding: 4px 7px;
    color: white;
    background-color: rgba(218, 27, 36, 1);
    border-radius: 50%;
    position: absolute;
    /* bottom: 10px; */
    z-index: 56789;
    top: -10%;
    right: 20%;
    cursor: pointer;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
}

.profile {
    padding-left: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 16px;
}

.info {
    text-align: end;
    margin-right: 15px;
    width: 156px;
}

.info-name {
    font-size: 16px;
    margin-bottom: 0;
}

.info-subtitle {
    margin-top: 0;
    font-size: 12px;
    color: #606571;;
}

.profile-photo {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* width: 35%; */
    cursor: pointer;
}

.profile-photo .prof-photo {
    width: 48px;
    height: 48px;
    border-radius: 65px;
    object-fit: cover;
    margin-right: 19.33px;
}

.profile-photo .vector {
    width: 15px;
    height: 15px;
    object-fit: contain;
    border-radius: 15px;
}